
TELEGRAM_BOT_TOKEN=88199

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=0
R2_SECRET_ACCESS_KEY=K
R2_BUCKET_NAME=creatorFlow
R2_ENDPOINT_URL=https

OLLAMA_HOST=http
OLLAMA_MODEL=gemma3:12b

WHISPER_MODEL=large-v3
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16

API_HOST=0.0.0.0
API_PORT=8000
API_SECRET_KEY=change-this-to-a-random-string

MAX_VIDEO_DURATION_SECONDS=240
MIN_VIDEO_DURATION_SECONDS=30
MAX_UPLOAD_SIZE_MB=500
